
<header>
  <div class="container-header-group">
    <a><img class="logo" scr="img2/logo.png"></a>
    <nav>
       <ul>
        <li class="nav-list-item">Portfolio</li>
        <li class="nav-list-item">Feauture</li>
        <li class="nav-list-item">Profile</li>
        <li class="nav-list-item">Contact</li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <section id="mv">
    <div class="container">
      <h1 class="mv-title">Lorem Ipsum</h1>
      <p class="mv-text">simply dummy text of the printing</p>
    </div>
  </section>

  <section id="portfolio">
    <div class="container">
      <h2 class="heading">Portfolio</h2>
      <p class="heading-text">
        It is a long established fact that a reader will be distracted by the readable</br>
        content of a page when looking at its layout.</br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</br>
      </p>
      <div class="production-group">
        <div class="production bg1"></div>
        <div class="production bg2"></div>
        <div class="production bg3"></div>
        <div class="production bg4"></div>
        <div class="production bg5"></div>
        <div class="production bg6"></div>
      </div>
    </div>
  </section>
  <section id="feature">
    <div class="container">
      <h2 class="heading">Feauture</h2>
      <p class="heading-text">
        It is a long established fact that a reader will be distracted by the readable</br>
        content of a page when looking at its layout.</br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</br>
      </p>
      <div class="strength-group">
        <div class="strength">
          <i class="fas fa-code"></i>
          <h3 class="strength-title">Strength1</h3>
          <p class="strength-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
        </div>
        <div class="strength">
          <i class="fas fa-desktop"></i>
          <h3 class="strength-title">Strength2</h3>
          <p class="strength-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
        </div>
        <div class="strength">
          <i class="fas fa-cogs"></i>
          <h3 class="strength-title">Strength3</h3>
          <p class="strength-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
        </div>
      </div>
    </div>
  </section>
  <section id="profile">
    <div class="container">
      <h2 class="heading">Profile</h2>
      <p class="heading-text">It is a long established fact that a reader will be distracted by the readable</br>
         content of a page when looking at its layout.</br>
         The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      <div class="profile-group">
        <div class="left-content">
          <div class="my-face"></div>
        </div>
        <div class="right-content">
          <h3 class="description-title">MyName</h3>
          <p class="description-text">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
          </p>
          <h3 class="description-title">MySkills</h3>
          <p class="description-text">HTML/CSS,JavaScript,JQuery,PhotoShop</p>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container">
      <h2 class="heading">Contact</h2>
      <p class="heading-text">
        It is a long established fact that a reader will be distracted by the readable</br>
        content of a page when looking at its layout.</br>
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
      </p>
      <div class="contact-group">
        <div class="left-content">
          <div class="left-contact-content">
            <h3 class="description-title">Mail</h3>
            <a class="link-text" href="mailto:xxx@xxx.com">xxx@xxx.com</a>
            <h3 class="description-title tel">Tel</h3>
            <a class="link-text" href="tel:000-0000-0000">000-0000-0000</a>
          </div>
        </div>
        <div class="right-content">
          <div class="right-contact-content">
            <h3 class="description-title">SNS</h3>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <p class="footer-text">©︎ 2017 WebCamp</p>
</footer>