// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: #EC715F;
}

header {
  height: 70px;
}

.container-header-group {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.logo {
  height: 70px;
  width: 70px;
}

nav {
  margin: 0 0 0 auto;
}

.nav-list-item {
  display: inline-block;
  color: #FAFAFA;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 70px;
}

footer {
  height: 60px;
  text-align: center;
}

.footer-text {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #FAFAFA;
}

#mv {
  background-image: url(img2/mv.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 670px;
}

.container {
  text-align: center;
}

.mv-title {
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px;
  padding-bottom: 10px;
}

.mv-text {
  color: #FAFAFA;
  font-size: 20px;
}

.heading {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  position: relative;
}

.heading:after {
  position: absolute;
  bottom: -8px;
  left: calc(50% - 30px);
  width: 70px;
  height: 3px;
  content: '';
  background: #EC715F;
}

#portfolio,#profile {
  background-color: #ECEFF1;
}

.heading-text {
  font-size: 20px;
  color: #000000;
  padding: 30px 0 30px 0;
}

.production-group {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.production {
  width: 300px;
  height: 250px;
}

.bg1 {
  background-image: url(img2/sketch.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.bg2 {
  background-image: url(img2/websuku.png);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-left: 10px;
}

.bg3 {
  background-image: url(img2/write.jpg);
  background-size: cover;
  background-position: center;
}

.bg4 {
  background-image: url(img2/webcamp.png);
  background-size: cover;
  background-position: center;
}

.bg5 {
  background-image: url(img2/talk.jpg);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-left: 10px;
}

.bg6 {
  background-image: url(img2/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

#feature {
  margin: 0 auto;
}

.strength-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 90px;
  width: 980px;
}

.strength {
  width: 320px;
  height: auto;
}

.strength-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.strength:nth-child(2) {
  margin: 0 10px;
}


.strength-title {
  font-size: 20px;
  padding: 10px 0;
}

.fas {
  font-size: 60px;
}

.profile-group {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.left-content {
  width: 50%;
  background-color: red;
}

.my-face {
  background-image: url(img2/my-icon.jpg);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.right-content {
  width: 50%;
  text-align: left;
  background-color: blue;
}

.description-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.description-text:nth-child(1) {
  padding-bottom: 20px;
}

.description-text {
  font-size: 16px;
}

.contact-group{
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.left-contact-content{
  text-align: left;
  margin: 0 auto;
  background-color: yellow;
  width: 130px;
}

.link-text{
  text-decoration: underline;
  color: black;
}

.right-contact-content{
  width: 200px;
  background-color: pink;
  margin: 0 auto;
}

.fab{
  font-size: 50px;
}

.fa-twitter{
  margin: 0 20px;
}

.tel{
  padding-top: 20px;
}

@media screen and (max-width:768px) {
  header {
    height: 50px;
  }
  .container-header-group {
    width: 90%;
    height: 50px;
  }
  .nav-list {
    display: none;
  }
  .menu-box{
    width: 40px;
    height: 40px;
    border: 1px solid #FAFAFA;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
  }
  .list-bar:first-child{
    margin-top: 10px;
  }
  .list-bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
  }
  #mv {
    background-image: url(img2/code.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
  }
  .mv-title{
    font-size: 40px;
    padding-bottom: 10px;
  }
  .mv-text{
    font-size: 18px;
    padding-top: 0;
  }
  .container{
    width: 90%;
  }
  .heading{
    padding-bottom: 8px;
  }
  .heading-text {
   font-size: 16px;
  }
  .bg1, .bg3, .bg5 {
    display: none;
  }
  .bg4 {
    margin: 10px 0;
  }
  .production-group{
    width: 90%;
    display: flex;
  }
  .production{
    margin-right: auto;
    margin-left: auto;
  }
  .strength-group {
    width: 90%;
    display: flex;
  }
  .strength {
    margin: 0 auto;
  }
  .strength:nth-child(2) {
    margin: 0 auto;
  }
  .strength-title{
    padding: 10px 0;
  }
  .profile-group {
    display: flex;
    width: 100%;
  }
  .right-content{
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .my-face{
    margin: 0 auto;
  }
  .left-content{
    width: 90%;
    margin: 0 auto;
  }
  .description-title{
    padding-top: 20px;
    padding-bottom: 5px;
  }
}